/*----- EDITOR ----*/

.main__editor {
	display: flex;
	justify-content: center;
	font-size: 15px;
}

.editor__wrapper {
	display: flex;
	width: 80%;
	background-color: rgba(0, 0, 0, .7);
}

.editor__wrapper_incorrect {
	animation: incorrect .1s infinite;
}

@keyframes incorrect {
    0% {
        transform: skew(1deg, 0deg);
        animation-timing-function: ease-in;
    }

    50% {
        transform: skew(0deg, 1deg);
        animation-timing-function: ease-out;
    }

    100% {
        transform: skew(0deg, 0deg);
        animation-timing-function: ease-out;
    }
}

.editor__field {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.editor__header {
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
	color: #fff;
}

.editor__subtitle {
	color: #AAA; 
}

.editor__input-wrapper {
	display: flex;
	background-color: #fff;
	
}

.editor__input-wrapper_css {
	position: relative;
}


.input__line-numbers {
	padding: 5px 5px 5px 10px;
	margin-right: 5px;
	background-color: rgba(0, 0, 0, .3);
	text-align: right;
}

.input__field {
	padding: 5px;
}

.input__input-css {
	display: inline-block;
	height: fit-content;
	border: none;
	width: 100%;
	animation: input 1s infinite;
}

.input__input-css:focus {
	outline: none;
	width: 80%;
}

.editor__enter-btn {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 15%;
	cursor: pointer;
}

@keyframes input {
	0% {
		background-color: transparent;
	}
	50% {
		background-color: rgba(62,203,255,.3);
	}
	100% {
		background-color: transparent;
	}
}

.input__hint {
	color: #AAA;
}
