.level-1 .car-green1 {
	left: 50px;
}

.level-1 .car-red1 {
	left: 250px;
}


.level-2 .car-green1 {
	right: 100px;
}

.level-2 .car-red2 {
	left: 100px;
}

.level-2 .scooter1 {
	left: 150px;
}


.level-3 .car-green1 {
	left: 120px;
}

.level-3 .car-red2 {
	left: 300px;
}

.level-3 .car-police1 {
	left: 200px;
	bottom: 30px;
}


.level-4 .car-truck2 {
	width: 250px;
	left: 35px;
}

.level-4 .car-green1 {
	bottom: 45px;
	left: 85px;
}

.level-4 .car-red2 {
	right: 50px;
}


.level-5 .car-red1 {
	left: 50px;
}

.level-5 .car-green1 {
	left: 300px;
}


.level-6 .car-police1 {
	left: 100px;
	bottom: 20px;
}

.level-6 .car-red2 {
	left: 50px;
}

.level-6 .car-green1 {
	left: 250px;
}

.level-7 .car-police1 {
	left: 10px;
	bottom: 60px;
}

.level-7 .car-truck2 {
	left: 80px;
	bottom: 15px;
}

.level-7 .car-red2 {
	right: 40px;
}

.level-8 .car-truck1 {
	left: -10px;
}

.level-8 .car-red1 {
	bottom: 45px;
	left: 30px;
	width: 90px;
}

.level-8 .car-truck2 {
	right: -0px;
}


.level-9 .car-truck1 {
	right: -15px;
	bottom: 25px;
}

.level-9 .car-red1 {
	bottom: 52px;
	right: 85px;
	width: 100px;
}

.level-9 .car-truck2 {
	left: -5px;
}

.level-10 .car-red1 {
	bottom: 45px;
	right: 105px;
	width: 100px;
}

.level-10 .car-truck2 {
	right: 10px;
}

.level-10 .car-police1 {
	left: 100px;
}


.level-11 .car-red1 {
	left: 30px;
}

.level-11 .car-police1 {
	right: 10px;
}

.level-11 .car-truck2 {
	left: 60px;
}

.level-12 .car-truck2 {
	z-index: 999;
	left: 60px;
}

.level-12 .car-red2 {
	z-index: 1000;
	left: 100px;
	bottom: 40px;
}

.level-12 .scooter1 {
	right: 10px;
}

.level-12 .car-red1 {
	right: 70px;
}

.level-12 .car-police1 {
	left: 5px;
	bottom: 60px;
}

.level-12 .congratulations {
	width: 100%;
}




