/* SIDEBAR */
.sidebar {
    position: fixed;
	display: flex;
	flex-direction: column;
	gap: 10px;
    top: 0;
    right: 0;
	width: 20%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
	color: whitesmoke;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar__reset-btn {
	width: 50%;
	padding: 10px;
	margin-top: 10px;
	align-self: center;
	background: #AAA;

}

.levels-control {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 0 35px;
	font-size: 20px;
}

.levels__title {
	position: relative;
	opacity: .5;
	cursor: pointer;
	transition: all .05s linear;
}

.levels__title:hover {
	opacity: 1;
	transform: scale(1.05);
}

.levels__title:before {
	position: absolute;
	display: block;
	content: '✔';
	color: rgba(255, 255, 255, .2);
	font-weight: 700;
	top: 0;
	left: -20px;
	
}
	
.levels__title_passed:before {
	color: rgba(159, 255, 115, .8);;
	
}

.levels__title span {
	color: rgba(159, 255, 115, .8);
}

.levels__title:hover span {
	color: rgba(159, 255, 115, .8);
}

.levels__title_active {
	width: fit-content;
	display: inline-block;
	position: relative;
	opacity: 1;
	transform: scale(1.1);
}

.levels__title_active::after {
	position: absolute;
	display: block;
	content: '<';
	color: red;
	font-weight: 700;
	top: 0;
	right: -20px;
}