/* ----- FIELD -----*/
    
.field__land {
    position: relative;
    margin: 0 auto;
    border: 5px solid rgba(0, 0, 0, .7);
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.field__background {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150%;
    z-index: 0;
}

.vehicle__container {
    position: absolute;
    width: 80px;
    cursor: pointer;
    transition: all .2s linear;
}

.vehicle__container:hover.vehicle__container::before, .vehicle__container_hovered:before {
    position: absolute;
    padding: 5px;
    display: block;
    content: attr(data-tag);
    min-width: 150px;
    text-align: center;
    word-wrap: break-word;
    background-color: white;
    color: #aaa;
    font-family:Georgia, 'Times New Roman', Times, serif;
    top: -50px;
    left: -20px;
}

.mark__visible .vehicle__mark {
    display: block;
}
.vehicle {
    width: 100%;
    transition: all .5s ease-in, filter .1s ease-in;
}

.vehicle__mark {
    display: none;
    position: absolute;
    padding: 5px;
    width: 200px;
    text-align: center;
    word-wrap: break-word;
    background-color: white;
    color: #aaa;
    font-family:Georgia, 'Times New Roman', Times, serif;
    top: -60px;
    left: -20px;
    z-index: 10000;
}

.vehicle:hover {
    filter: brightness(150%);
}

.vehicle__container_hovered .vehicle {
    filter: brightness(150%);
}

.vehicle_fined-top {
    animation: fined-top 1.5s infinite;
}

.vehicle_fined-down {
    animation: fined-down 1.5s infinite;
}

.vehicle_top-line {
    bottom: 60px;
}

.vehicle_down-line {
    bottom: 15px;
}

.car-truck1 {
    z-index: 8;
	width: 230px;
}

.car-truck2 {
    z-index: 10; 
	width: 230px;
}

.car-red1 {
    width: 100px;
    z-index: 9;
}

.to-find {
    transform-origin: bottom;
    animation: to-find-start .5s ease-in, to-find-end 1s infinite;
}

@keyframes to-find-start {
    0% {
        transform: skew(0deg, 0deg) scaleY(1);
        animation-timing-function: ease-in;
    }

    40% {
        transform: skew(0deg,0deg) scaleY(.9);
        animation-timing-function: ease-out;
    }

    100% {
        transform: skew(4deg,0deg) scaleX(1);
    }
}

@keyframes to-find-end {
    0% {
        transform: skew(4deg,0deg) scaleX(1);
    }
    10% {
        transform: skew(1deg,0deg) scaleY(.9);
    }
    50% {
        transform: skew(-4deg,0deg) scaleX(1);
    }
    60% {
        transform: skew(-1deg,0deg) scaleY(.9);
    }
    100% {
        transform: skew(4deg,0deg) scaleX(1);
    }
}

@keyframes fined-top {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(1.5);
    }

    66% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }

    100% {
        transform: scale(1) translateX(-500px);
    }
}

@keyframes fined-down {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(1.5);
    }

    66% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }

    100% {
        transform: scale(1) translateX(500px);
    }
}

