/* ----- FIELD -----*/
    
.field__land {
    position: relative;
    margin: 0 auto;
    border: 5px solid rgba(0, 0, 0, .7);
    height: 300px;
    width: 450px;
    overflow: hidden;
}

.field__background {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150%;
    z-index: 0;
}

.vehicle {
    position: absolute;
    width: 80px;
    transition: all .5s ease-in;
}

.vehicle_fined-top {
    animation: fined-top 1.5s infinite;
}

.vehicle_fined-down {
    animation: fined-down 1.5s infinite;
}

.vehicle_top-line {
    bottom: 50px;
}

.vehicle_down-line {
    bottom: 10px;
}

.to-find {
    transform-origin: bottom;
    animation: to-find-start .5s ease-in, to-find-end 1s infinite;
}

    /* ----- LEVELS ----- */

    .level-1 .car-green1 {
        left: 50px;
    }

    .level-1 .car-red1 {
        left: 250px;
    }


    .level-2 .car-green1 {
        left: 350px;
    }

    .level-2 .car-red2 {
        left: 100px;
    }

    .level-2 .scooter1 {
        left: 150px;
    }
    

    .level-3 .car-green1 {
        left: 120px;
    }

    .level-3 .car-red2 {
        left: 300px;
    }

    .level-3 .car-police1 {
        left: 200px;
        bottom: 30px;
    }

    
    .level-4 .car-truck1 {
        width: 250px;
        left: 65px;
    }

    .level-4 .car-green1 {
        bottom: 27px;
        left: 115px;
    }

    .level-4 .car-red2 {
        left: 350px;
    }

@keyframes to-find-start {
    0% {
        transform: skew(0deg, 0deg) scaleY(1);
        animation-timing-function: ease-in;
    }

    40% {
        transform: skew(0deg,0deg) scaleY(.9);
        animation-timing-function: ease-out;
    }

    100% {
        transform: skew(4deg,0deg) scaleX(1);
    }
}

@keyframes to-find-end {
    0% {
        transform: skew(4deg,0deg) scaleX(1);
    }
    10% {
        transform: skew(1deg,0deg) scaleY(.9);
    }
    50% {
        transform: skew(-4deg,0deg) scaleX(1);
    }
    60% {
        transform: skew(-1deg,0deg) scaleY(.9);
    }
    100% {
        transform: skew(4deg,0deg) scaleX(1);
    }
}

@keyframes fined-top {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(1.5);
    }

    66% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }

    100% {
        transform: scale(1) translateX(-500px);
    }
}

@keyframes fined-down {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(1.5);
    }

    66% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }

    100% {
        transform: scale(1) translateX(500px);
    }
}

